<a href="https://colab.research.google.com/github/cris-her/Fundamentos-Practicos-de-Machine-Learning/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
series = pd.Series([5,10 , 50, 10, 20, 30])

In [3]:
series

0     5
1    10
2    50
3    10
4    20
5    30
dtype: int64

In [4]:
type(series)

pandas.core.series.Series

In [5]:
series[3]

10

In [6]:
cad = pd.Series(['p', 'l','a','t','z','i'])
cad

0    p
1    l
2    a
3    t
4    z
5    i
dtype: object

In [7]:
lst = ['Hola','Mundo','Robotico']

In [8]:
df = pd.DataFrame(lst)

In [9]:
df

          0
0      Hola
1     Mundo
2  Robotico

In [10]:
data = {'Nombre': ['Juan','Ana','Jose','Arturo'],'Edad':[25, 30, 15, 20], 'Pais':['MX','EC','CO','EC']}

In [11]:
df= pd.DataFrame(data)
df

   Nombre  Edad Pais
0    Juan    25   MX
1     Ana    30   EC
2    Jose    15   CO
3  Arturo    20   EC

In [12]:
print(df[['Nombre','Pais']])

   Nombre Pais
0    Juan   MX
1     Ana   EC
2    Jose   CO
3  Arturo   EC

In [13]:
data = pd.read_csv('canciones-2018.csv')
data.head(5)

                      id  ... time_signature
0  6DCZcSspjsKoFjzjrWoCd  ...            4.0
1  3ee8Jmje8o58CHK66QrVC  ...            4.0
2  0e7ipj03S05BNilyu5bRz  ...            4.0
3  3swc6WTsr7rl9DqQKQA55  ...            4.0
4  2G7V7zsVDxg1yRsu7Ew9R  ...            4.0

[5 rows x 16 columns]

In [14]:
artista = data.artists
artista[5]

'Post Malone'

In [15]:
info = data.iloc[15]
info

id                     3GCdLUSnKSMJhs4Tj6CV3
name                All The Stars (with SZA)
artists                       Kendrick Lamar
danceability                           0.698
energy                                 0.633
key                                        8
loudness                              -4.946
mode                                       1
speechiness                           0.0597
acousticness                          0.0605
instrumentalness                    0.000194
liveness                              0.0926
valence                                0.552
tempo                                 96.924
duration_ms                           232187
time_signature                             4
Name: 15, dtype: object

In [16]:
data.tail()

                       id  ... time_signature
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
99  3EPXxR3ImUwfayaurPi3c  ...            4.0

[5 rows x 16 columns]

In [17]:
data.shape

(100, 16)

In [18]:
data.columns

Index(['id', 'name', 'artists', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'duration_ms', 'time_signature'],
      dtype='object')

In [19]:
data['tempo'].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64

In [20]:
data.sort_index(axis = 0, ascending = False)

                       id  ... time_signature
99  3EPXxR3ImUwfayaurPi3c  ...            4.0
98  1j4kHkkpqZRBwE0A4CN4Y  ...            4.0
97  5WvAo7DNuPRmk4APhdPzi  ...            5.0
96  2xmrfQpmS2iJExTlklLoA  ...            4.0
95  630sXRhIcfwr2e4RdNtjK  ...            4.0
..                    ...  ...            ...
4   2G7V7zsVDxg1yRsu7Ew9R  ...            4.0
3   3swc6WTsr7rl9DqQKQA55  ...            4.0
2   0e7ipj03S05BNilyu5bRz  ...            4.0
1   3ee8Jmje8o58CHK66QrVC  ...            4.0
0   6DCZcSspjsKoFjzjrWoCd  ...            4.0

[100 rows x 16 columns]